<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.underscorephil.alfred.2do</string>
	<key>connections</key>
	<dict>
		<key>14691B12-3FFC-4ABF-A414-C92FA5929D54</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4AF29D41-486E-48EB-A486-0DF19A3C61AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>60F0354E-C58E-4CEB-BA4B-CB59049598A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80FD8DDC-0FF9-4A03-B0A5-C7AE1D9FA231</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>80FD8DDC-0FF9-4A03-B0A5-C7AE1D9FA231</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11EBF22D-3A62-433D-A6A8-6A163BD8F506</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Phil Jackson (@underscorephil)</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>alfred-2do</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4AF29D41-486E-48EB-A486-0DF19A3C61AF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>twodo</string>
				<key>script</key>
				<string>python 2do.py "{query}"</string>
				<key>subtext</key>
				<string>phil [task name] :list #tag1 #tag2</string>
				<key>title</key>
				<string>Create Task</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>14691B12-3FFC-4ABF-A414-C92FA5929D54</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>twodo default list</string>
				<key>subtext</key>
				<string>Enter your desired default list and hit enter</string>
				<key>text</key>
				<string>Set your default 2do list</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>60F0354E-C58E-4CEB-BA4B-CB59049598A0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Your 2do default list has been set</string>
				<key>title</key>
				<string>twodo default list</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>11EBF22D-3A62-433D-A6A8-6A163BD8F506</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python 2do.py --default-list "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>80FD8DDC-0FF9-4A03-B0A5-C7AE1D9FA231</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>11EBF22D-3A62-433D-A6A8-6A163BD8F506</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>14691B12-3FFC-4ABF-A414-C92FA5929D54</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>4AF29D41-486E-48EB-A486-0DF19A3C61AF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>60F0354E-C58E-4CEB-BA4B-CB59049598A0</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>80FD8DDC-0FF9-4A03-B0A5-C7AE1D9FA231</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>underscorephil.com</string>
</dict>
</plist>
